* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F0BB;
    font-family: 'Catamaran', sans-serif;
}

.header {
    text-align: center;
    padding: 2%;
}

.search{
    padding: 1%;
}

.search input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid black;
    background: rgba(255,255,255, 0.1);
    color: black;
}

.image {
    text-align: center;
}

.container {
    border: 5px solid;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    background-color: white;
    width: 70%;
}
