* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EADEDA;
    font-family: 'Catamaran', sans-serif;
}

.header {
    text-align: center;
    padding: 2%;
    color: #6B2737;
}

.search{
    padding: 1%;
}

.search input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    color: black;
    background: white;
    border: 2px solid #6B2737; 
}

.image {
    text-align: center;
}

.container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
